<h1><%= @user.first_name %></h1>

<p>To confirm your email, click here <%= link_to "", @user %></p>
<p>
  in email html 
  admaalksdkjlasjdljsaldka asdkljaslkkdjlkasjdlasd
  aslkkdlasjdlkajslkjdlkjasldjlasjdadmaalksdkjlasjsaldka asdkljaslkkdjlkasjdlasd
  aslkkdlasjdlkajslkjdlkjasldjlasjd
</p>
