<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<a href="http://192.168.1.84:3000/api/v1/confirm_link?confirmation_token=<%= @token %>">Click Here</a>  

